.App {
  text-align: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
    margin: 0 120px;
}


#main {
    margin: 0 120px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    #main .main-text {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
    }
<<<<<<< HEAD
=======

>>>>>>> 7872c47778887921393bb4333c18077a6054b79d
