.formS{
  text-align: center;
  margin-top: 3%;
  width: 26%;
  height: 55%;
  margin-left: 14%;
  position: absolute;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 10px 18px #E6E6E6;
}
