.formS{
  text-align: center;
  margin-top: 5%;
  width: 24%;
  height: 45%;
  margin-left: 14%;
  position: absolute;
  border: 1px solid #D8D8D8;
  padding: 10px;
  box-shadow: 5px 10px 18px #E6E6E6;
}
